<section class="cta">
    <div class="text-container">
        <h1>Create and share your photo stories.</h1>
        <p>Photosnap is a platform for photographers and visual storytellers. We make it easy to share photos, tell
            stories and connect with others.</p>
        <button class="cta-btn">Get an invite <svg width="42" height="14" viewBox="0 0 42 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 7H41.864" stroke="white" />
                <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white" />
            </svg></button>
    </div>
    <div class="image-container">
        <picture>
            <source media="(max-width: 1400px)" srcset="/dev-assets/designed-for-everyone-tablet.png">
            <source media="(max-width: 675px)" srcset="/dev-assets/designed-for-everyone-mobile.png">
            <img src="/dev-assets/designed-for-everyone.png" />
        </picture>

    </div>
</section>