<section class="featured-story-cards">
    <div class="story-card" style="background-image:url('/dev-assets/rage-of-the-sea.png')">
        <div class="story-info">
            <h3>Sunset Cityscapes</h3>
            <p>by Samantha Brooks</p>
        </div>
        <button class="cta-btn">Read Story <svg width="42" height="14" viewBox="0 0 42 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 7H41.864" stroke="white" />
                <path d="M35.4282 1L41.4282 7L35.4282 13" stroke="white" />
            </svg></button>

    </div>
    <div class="story-card" style="background-image:url('/dev-assets/rage-of-the-sea.png')">

    </div>
    <div class="story-card" style="background-image:url('/dev-assets/rage-of-the-sea.png')">

    </div>
    <div class="story-card" style="background-image:url('/dev-assets/rage-of-the-sea.png')">

    </div>
</section>