<section class="features">
    <div class="feature-card">
        <img src="/dev-assets/forever.svg" />
        <h3>No Photo Upload Limit</h3>
        <p>Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in
            one go.</p>
    </div>
    <div class="feature-card">
        <img src="/dev-assets/forever.svg" />
        <h3>No Photo Upload Limit</h3>
        <p>Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in
            one go.</p>
    </div>
    <div class="feature-card">
        <img src="/dev-assets/forever.svg" />
        <h3>No Photo Upload Limit</h3>
        <p>Our tool has no limits on uploads or bandwidth. Freely upload in bulk and share all of your stories in
            one go.</p>
    </div>
</section>