@using Shared;

@model IEnumerable<Page>;

<nav class="navigation">
    <img src="" alt="">
    @foreach (Page pageItem in Model)
    {
        if (pageItem.IncludeNav)
        {
            <a>@pageItem.SystemFields.WebPageUrlPath</a>
        }
    }
</nav>