@using Shared;

@model IEnumerable<Page>;

<nav class="navigation">
    <div class="image-frame">
        <img src=@Url.Content(ViewBag.Logo) />
    </div>
    <div class="link-container">
        @foreach (Page pageItem in Model)
        {
            if (pageItem.IncludeNav)
            {
                <a class="nav-item" href=@(
            $"/{pageItem.SystemFields.WebPageUrlPath.ToLower()}")>@pageItem.SystemFields.WebPageUrlPath</a>
            }
        }
    </div>
</nav>