@use "../variables.scss" as variables;
@use "../PhotosnapStyles/navigation.scss";
@use "../PhotosnapStyles/cta.scss";
@use "../PhotosnapStyles/featured-story-cards.scss";
@use "../PhotosnapStyles/footer.scss";
@use "../PhotosnapStyles/features.scss";

#{variables.$photosnap} {
  h3 {
    font-size: 1.75rem;
  }

  h1,
  button,
  a {
    letter-spacing: 2px;
  }

  p {
    line-height: 2;
  }

  a {
    text-transform: uppercase;
    font-weight: 500;
  }

  .cta-btn {
    background-color: transparent;

    text-transform: uppercase;
    width: max-content;

    display: flex;
    align-items: center;

    svg {
      margin-left: 1rem;
    }
  }

  @include navigation.styles;
  @include cta.styles;
  @include featured-story-cards.styles;
  @include footer.styles;
  @include features.styles;
}
