@mixin styles {
  .navigation-container {
    background-color: white;
  }
  .navigation {
    background-color: white;
    font-size: 1.25rem;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .nav-links {
      display: grid;
      grid-auto-flow: column;
      column-gap: 3rem;

      a {
        color: black;
      }
    }

    .nav-btn {
      background-color: black;
      color: white;
      text-transform: uppercase;
      padding: 1rem 2rem;
    }
  }
}
